h1{background-color: yellow;
    color:rgba(89, 0, 253, 0.986);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

h2{
    color:rgb(13, 255, 5);
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

h3{
    color:rgb(0, 255, 42);
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

h4{
    color:rgb(243, 4, 4);
    font-family: 'Kaushan Script', cursive;
    text-align:center;
}

hr{
    color:red;
}

body{
    background-color:rgb(0, 0, 0)
    ;
}

